/* Footer */
footer {
    background-color: #F8F8F8;
    border-top: 3px solid #D8D8D8;
    margin-top: 140px;
    padding: 1rem 1rem 5rem 1rem;
    color: #888;
}

/* Navigation */
ul.topnav {
    list-style-type: none;
}

ul.topnav > li {
    display: inline-block;
    border-bottom: .1rem solid #C5C5C5;
}

ul.topnav > li a {
    display: block;
    color: #333;
    border-bottom: .2rem solid transparent;
    margin-bottom: -.1rem;
    padding: .8rem 1.4rem;
    text-decoration: none;
}

ul.topnav > li.active a,
ul.topnav > li a.active {
    color: #3b49af;
    border-bottom-color: #3b49af;
}

ul.topnav a:hover,
ul.topnav a:focus {
    color: #5764C6;
}

/* Warenkorb Tabelle */
table.basket {
    border-collapse: collapse;
    margin-bottom: 2em;
}

table.basket tr {
    padding: 1em 0;
    border-bottom: 1px solid #c5c5c5;
}

table.basket th {
    text-align: left;
}

table.basket td:last-child {
    text-align: right;
}

table.basket td,
table.basket th {
    padding: 1em .5em;
}

table.basket > tfoot {
    font-weight: bold;
}
